body {
    background-color: #e5e5e5;
}

div {
    width: 30%;
    background-color: #fca311;
    text-align: center;
    font-size: 200%;
    padding: 20px;
    margin: 10px;
}

p, h3 {
    color: #14213d;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}